<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Site da BiblioTech">
        <meta name="keywords" content="Biblioteca, Livros, ONG">
        <meta name="author" content="Nicolas Engler">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto  :100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <title>Bibliotech</title>
    </head>
    <body>
        <v-app id="login" class="black">
            <v-card width="450" class="ma-auto">
                    <v-img src="../../assets/images/logo.png" class="mx-auto" height="200" width="200" aspect-ratio="1"></v-img>
                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <v-row dense>
                            <v-col cols="12">
                                <v-text-field v-model="userInfo.email" label="E-mail" :rules="emailRules" outlined color="grey" required></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-text-field type="password" v-model="userInfo.password" label="Senha" :rules="passwordRules" outlined color="grey" required></v-text-field>
                            </v-col>

                            <v-col cols="12">
                                <v-checkbox class="mt-0"
                                        v-model="checkbox"
                                        label="Mantenha me conectado"
                                        color="#52bdae"
                                ></v-checkbox>
                            </v-col>
                            <v-col cols="12">
                                <v-btn class="text-body-2 font-weight-bold white--text" block height="50px" :disabled="!valid" color="#52bdae" @click="validate">
                                    Entrar
                                </v-btn>
                            </v-col>

                            <v-col cols="12" class="text-center mt-5">
                                <a href="" class="text-decoration-none text-body-1 grey--text">Esqueci minha senha</a>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-app>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script>
            new Vue({
                el: "#login",
                vuetify: new Vuetify(),
                data: () => ({
                    valid: true,
                    userInfo: {
                        email: '',
                        password: ''
                    },
                    emailRules: [
                        v => !!v || 'Campo obrigatório',
                        v => /.+@.+\..+/.test(v) || 'E-mail precisa ser válido',
                    ]
                    ,
                    passwordRules: [
                        v => !!v || 'Campo obrigatório',
                    ],
                    checkbox: false
                }),

                methods: {
                    validate () {
                        this.$refs.form.validate()
                    },
                },
            })
        </script>
    </body>
</html>